@import "tailwindcss";


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
  --gradientbg: #FFFFFF;
  --foreground: #0a0a0c;
  --background: #fbfbfe;
  --secondarybackground: #e4f5e4;
  --gradientmain: #6bce2738;
  --primary: #5bce27;
  --secondary: #a8a8c0;
  --accent: #afcf7a;
  font-family: 'Quicksand', sans-serif;
}
}


@media (prefers-color-scheme: dark) {
  :root {
    --gradientbg: #000000;
    --foreground: #f4f4f6;
    --background: #060906;
    --gradientmain: #66d83138;
    --secondarybackground: #080f08;
    --primary: #66d831;
    --secondary: #3e3e56;
    --accent: #081508;
    font-family: 'Quicksand', sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}


.bg {
  background-color: #5bce27;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}


.headergradient {
  background-image: linear-gradient(0, var(--primary), var(--accent));
}

.radial-gradient {
  background: radial-gradient(ellipse 30% 70% at 50% 0%, var(--gradientmain), transparent);
}


.half-circle-top {
  border-radius: 40% 0 0 0;
  background-size: cover;
  background-position: center;
}

.half-circle-middle {
  border-radius: 0 0 0 0;
  background-size: cover;
  background-position: center;
}

.half-circle-bottom {
  border-radius: 0 0 0 40%;
  background-size: cover;
  background-position: center;
}

.bgimg1 {
  background-image: url(../public/image.png);
}

.bgimg2 {
  background-image: url(../public/image.png);
}

.bgimg3 {
  background-image: url(../public/image.png);
}

.centermargin {
  margin: 0 auto;
}