@import "tailwindcss";



@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
  font-family: Quicksand;
  --text: #0a0a0c;
  --background: #fbfbfe;
  --primary: #5bce27;
  --secondary: #a8a8c0;
  --accent: #afcf7a;
}
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f4f4f6;
    --background: #010104;
    --primary: #66d831;
    --secondary: #3e3e56;
    --accent: #63832f;
    font-family: 'Quicksand', sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.bg {
  background-color: #5bce27;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}